/* BELOW 1312px */
@media (max-width: 82em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
}

/* BELOW 1152px */
@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.6rem;
  }

  .main-nav-list {
    gap: 1.6rem;
  }
}

/* BELOW 960px */
@media (max-width: 60em) {
  .testimonials-gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/* BELOW 928x */
@media (max-width: 58em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 6.4rem;
    padding: 0 8rem;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-btn-box {
    justify-content: center;
    margin-bottom: 0;
  }

  .delivered-box {
    justify-content: center;
  }

  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .featured-img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-detail {
    padding: 2.8rem 3.2rem 3.2rem 3.2rem;
  }

  .testimonial-img {
    width: 15%;
  }

  .testimonials-section {
    grid-template-columns: 1fr;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .price-card--complete::after {
    left: 55%;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form-btn {
    margin-top: 1.6rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  /* MOBILE NAVIGATOR */
  .btn-mobile-nav {
    display: block;
    z-index: 9999999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.48s ease-out;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(-100%);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
/* BELOW 704x */

@media (max-width: 44em) {
  .grid--3-columns,
  .grid--4-columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-logos {
    gap: 2.4rem;
  }

  .step-img {
    width: 50%;
  }

  .margin--bottom-large {
    margin-bottom: 4.8rem;
  }

  .meal-diets {
    grid-column: 1/-1;
    justify-self: center;
  }

  .price-card {
    width: 100%;
  }

  .grid--5-columns {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}

/* BELOW 544px */

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-columns,
  .grid--3-columns,
  .grid--4-columns {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 2.8rem;
  }

  .hero-img {
    width: 80%;
  }

  .heading-featured {
    font-size: 1.2rem;
  }

  .featured-img {
    height: 1.8rem;
  }

  .step-img {
    width: 30%;
  }

  .step-img-box::before {
    width: 50%;
    padding-bottom: 50%;
  }
  .step-img-box::after {
    width: 40%;
    padding-bottom: 40%;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }
  .meal-card {
    width: 75%;
    justify-self: center;
  }

  .price-card {
    width: 70%;
  }
  .price-card--complete::after {
    top: 5%;
    left: 60%;
  }

  .price-card--starter {
    justify-self: center;
  }

  .price-card--complete {
    justify-self: center;
  }

  .price-feature {
    text-align: center;
  }

  .testimonial-author {
    text-align: end;
  }

  .testimonials-gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
    background-position: bottom;
  }
}
