/******* HEADER & NAVBAR  ********/

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.4rem;
  width: auto;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1rem 2rem;
  border-radius: 9px;
  color: #fff;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* Sticky navigator */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero {
  padding-top: 9.6rem;
}

/******* HERO SECTION  ********/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.hero-description {
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.hero-btn-box {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  margin-bottom: 3.2rem;
}

.delivered-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
}

.delivered-img {
  display: flex;
  align-items: center;
}

.delivered-img-customer {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-left: -1.6rem;
  border: 3px solid #fdf2e9;
}

.hero-img {
  width: 100%;
}

/******* FEATURED SECTION  ********/

.section-featured {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 3.2rem;
  filter: brightness(0%);
  opacity: 50%;
}

.heading-featured {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.featured-logos {
  display: flex;
  gap: 10rem;
  align-items: center;
}

.featured-img {
  height: 3.2rem;
  width: auto;
}

/******* HOW SECTION  ********/

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-weight: 700;
  font-size: 8.4rem;
  opacity: 25%;
}

.step-heading {
  font-size: 2.8rem;
  color: #333;
}

.step-description {
  font-size: 1.8rem;
  line-height: 2;
}

.step-img-box {
  position: relative;
}

.step-img {
  width: 35%;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

/******* MEALS SECTION  ********/
.section-meals {
  padding: 9.6rem 0;
}

.meal-card {
  overflow: hidden;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all ease 0.4s;
}

.meal-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-card-img {
  width: 100%;
}

.meal-tag {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 9px;
  padding: 0.2rem 0.8rem;
  color: #45260a;
}

.vegetarian-tag {
  background-color: #69db7c;
}
.vegan-tag {
  background-color: #a9e34b;
}

.paleo-tag {
  background-color: #ffd43b;
}

.meal-detail {
  padding: 3.6rem 4.8rem 4.8rem 4.8rem;
}

.meal-atribute--text strong {
  font-weight: 500;
}

.meal-atribute--icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-diets .heading-tetariant {
  font-size: 3rem;
}

.meal-diet--icon {
  height: 2.8rem;
  width: 2.8rem;
  color: #e67e22;
}

/******* TESTIMONIAL SECTION  ********/
.testimonials-section {
  background-color: #fdf2e9;
  display: grid;
  gap: 9.6rem 6.4rem;
}

.testimonials-container {
  margin: 0 auto;
  padding: 3.2rem;
}

.testimonial-img {
  width: 20%;
  border-radius: 100%;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.testimonial-author {
  font-size: 1.6rem;
  color: #858585;
}

.testimonials-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.testimonial-gallery-item {
  overflow: hidden;
}

.testimonial-gallery-img {
  width: 100%;
  transition: all 0.4s;
}

.testimonial-gallery-img:hover {
  transform: scale(1.15);
}

/******* PRICING SECTION  ********/

.price-section {
  padding: 9.6rem 0;
}

/* .price-section .grid {
  grid-template-columns: 1fr 1fr;
} */

.price-card {
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
  border-radius: 11px;
  width: 75%;
  overflow: hidden;
}

.price-card--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
}

.price-card--complete {
  justify-self: start;
  background-color: #fdf2e9;
  position: relative;
}

.card-heading {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #cf711f;
}

.card-price {
  font-size: 2.8rem;
  color: #333;
  font-weight: 600;
  text-align: center;
}

.card-price span {
  font-size: 6.2rem;
}

.card-price-detail {
  font-size: 1.6rem;
  text-align: center;
  color: #858585;
}

.card-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
}

.price-card--complete::after {
  content: "Best Value";
  color: #333;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0.8rem 9rem;
  background-color: #ffd43b;
  position: absolute;
  left: 55%;
  top: 4%;
  transform: rotate(40deg);
}

.card-detail {
  text-align: center;
  color: #858585;
  font-size: 1.6rem;
}

.price-feature-icon {
  background-color: #fae5d3;
  color: #e67e22;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.4rem;
  border-radius: 50%;
}

.price-feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
}

.price-feature-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

/******* CTA SECTION  ********/
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 11px;
  overflow: hidden;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to right bottom, #e67e22, #eb984e);
}

.cta-text-box {
  padding: 4.6rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-text-box .heading-secondary {
  color: #45260a;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  transition: all 0.3s;
}

.cta-form div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.cta-form label {
  font-size: 1.6rem;
  font-weight: 500;
}

.cta-form input {
  border-radius: 11px;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  background-color: #fdf2e9;
}

.cta-form select {
  border-radius: 11px;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  background-color: #fdf2e9;
}

.cta-form-btn {
  padding: 1.2rem;
  align-self: end;
  background-color: #45260a;
  color: #fdf2e9;
}

.cta-form-btn:hover {
  box-shadow: inset 0 0 0 3px #45260a;
  background-color: #fdf2e9;
  color: #45260a;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(230, 125, 34, 0.35),
      rgba(235, 151, 78, 0.35)
    ),
    url(/image/eating.jpg);
  background-size: cover;
  background-position: center;
}

/******* FOOTER  ********/
.footer {
  border-top: 0.5px solid rgba(51, 51, 51, 0.1);
  padding: 9.6rem 0;
  background-color: #2e2e2e;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 1.6rem;
}

.social-logo {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
}

.copyright {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.6;
}

.footer-heading {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.contact {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.6;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
